name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: cargo build --release

    - name: Upload Build Artifact
      uses: actions/download-artifact@v4.1.8
      with:
        path: ${{ matrix.os == 'windows-latest' && 'a/setup-mc/setup-mc/target/release/setup-mc.exe' || 'a/setup-mc/setup-mc/target/release/setup-mc' }}
